altgraph==0.16.1
Deprecated==1.2.4
Django==1.8
future==0.17.1
macholib==1.11
pefile==2018.8.8
plyer==1.4.0
PyInstaller==3.4
PyQt5==5.11.3
PyQt5-sip==4.19.13
pywin32-ctypes==0.2.0
qdarkgraystyle==1.0.2
wrapt==1.11.0
