<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">ABC Alarm</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>
        </div>
      </nav>
      <div class="container p-lg">
          <h3 class="text-muted">Scheduled Alarms</h3>
        <ul class="list-group">
            <li class="list-group-item" style="padding: 0px;">
                <div class="row">
                    <div class="col-lg-3 col-xs-3">
                        <h5 class=""><span class="pull-right">16:00</span></h5>
                        </br>
                        <h5 class="text-muted"><span class="pull-right">17:00</span></h5>
                    </div>
                    <div class="col-lg-9 col-xs-9" style="border-left: 3px solid #659df7;">
                        <h4>Cocktail with Tim Cook <span class="label label-default" style="font-size: 10px;">Checked</span></h4>
                        <small>Neque porro quisquam est qui dolorem ipsum quia</small>
                        <p class="text-muted pull-right" style="margin-right: 5px;">in 1 hr, 6 mins</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item" style="padding: 0px;">
                <div class="row">
                    <div class="col-lg-3 col-xs-3">
                        <h5 class=""><span class="pull-right">18:00</span></h5>
                        </br>
                        <h5 class="text-muted"><span class="pull-right">19:00</span></h5>
                    </div>
                    <div class="col-lg-9 col-xs-9" style="border-left: 3px solid #659df7;">
                        <h4>Dinner with Angella <span class="label label-primary" style="font-size: 10px;">New</span></h4>
                        <small>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci </small>
                        <p class="text-muted pull-right" style="margin-right: 5px;">in 3 hrs</p>
                    </div>
                </div>
            </li> 
            <li class="list-group-item" style="padding: 0px;">
                <div class="row">
                    <div class="col-lg-3 col-xs-3">
                        <h5 class=""><span class="pull-right">20:00</span></h5>
                        </br>
                        <h5 class="text-muted"><span class="pull-right">21:00</span></h5>
                    </div>
                    <div class="col-lg-9 col-xs-9" style="border-left: 3px solid #659df7;">
                        <h4>Late workout <span class="label label-primary" style="font-size: 10px;">New</span></h4>
                        <small>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, </small>
                        <p class="text-muted pull-right" style="margin-right: 5px;">in 5 hrs</p>
                    </div>
                </div>
            </li> 
          </ul>
      </div>
</body>
</html>